<div id="container">
<!--<div class="back-ground">-->
<div>
  <div class="text-center">

    <h3 class="title">Lets learn Spanish!</h3>


  </div>
  <hr>
  <div class="card-deck chapters" >
    <div class="card shadow p-3 mb-5 bg-white rounded">
      
      <div class="card-body">
        <h5 class="card-title">Chapter 1</h5>
        <p class="card-text">The basics!</p>
        <a href="ch1" class="stretched-link"></a>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card shadow p-3 mb-5 bg-white rounded">
      
      <div class="card-body">
        <h5 class="card-title">Chapter 2</h5>
        <p class="card-text"></p>
        <a href="#" class="stretched-link"></a>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card shadow p-3 mb-5 bg-white rounded">
      
      <div class="card-body">
        <h5 class="card-title">Chapter 3</h5>
        <p class="card-text"></p>
        <a href="#" class=" stretched-link"></a>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>









</div>
</div>
<!-- ATTRIBUTE LINK: !!    <a href='https://www.freepik.com/vectors/education'>Education vector created by pch.vector - www.freepik.com</a>   !!  
HELPFUL LINK FOR CRUD       https://www.positronx.io/build-angular-crud-application-with-nodejs-and-express-rest-api/

-->