html, body {
    height: 100%;
}
body{
    background: wheat;
    
}
#container{
    background: wheat;
    min-height: 100vh;
}

.title {
    width: 80%;
    margin: 0 auto;
    font-family: "Helvetica Neue", "Arial", sans-serif;
    font-style: bold;
    font-weight: 100;
    font-variant-ligatures: normal;
    font-size: 10vw;
    letter-spacing: 1px;
}

.vocab-container{
    font-family: Palatino, URW Palladio L, serif;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}
.section-title{
    font-size: large;
}

.vocab-word{
    color: darkgreen;
    font-weight: bolder;
    font-style: italic;
}

.exercise-container{
    justify-content: center;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 90%;
    margin: auto;
    box-shadow:  0 0 10px  rgba(0,0,0,0.6);
  }
  
  td, th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: white;
  }
  tr:nth-child(odd) {
    background-color: rgb(252, 222, 158);
  }

img{
    border-radius: 50px;
    box-shadow:  0 0 10px  rgba(0,0,0,0.6);
}

  
 

