<div id="container">
    <div>
<h3 class="title">Chapter 1</h3>
<p>Vocab used in this chapter: <p>
    <div class="row">
        <div class="column">
            <div>
                <ul *ngFor="let i of vocabList">
                   {{i.spanish}}
                </ul>
            </div>   
        </div>
        <div class="column">
            <div>
                <ul *ngFor="let i of vocabList">
                   {{i.english}}
                </ul>
            </div> 
        </div>
      </div>

</div>

</div>
