<div id="container">
    <div>
<h3 class="title">Chapter 1</h3>
<div>
    <p class="section-title">Vocab used in this chapter: <p></p>
    <div class="row">
        <div class="column">
            <div>
                <ul *ngFor="let i of vocabList">
                   {{i.spanish}}
                </ul>
            </div>   
        </div>
        <div class="column">
            <div>
                <ul *ngFor="let i of vocabList">
                   {{i.english}}
                </ul>
            </div> 
        </div>
      </div>
      <div style="text-align: center;">
        <img src="../../assets/alfabeto.png" width="90%" height="auto" max-height= "300px"margin="auto" alt="Spanish alphabet" >
      </div>
</div>
<div class="exercise-container">
    <p class="section-title">  Exercises</p>
   <p> Let us walk through this mock conversation together between you and I. The words that are green will be words we have learned from this chapter's vocab list. </p>

  <table>
    <tr>
      <th>Person</th>
      <th>English</th>
      <th>Spanish</th>
    </tr>
    <tr>
      <td>Cassidy:</td>
      <td>"Hello, my name is Cassidy. I am your teacher. Welcome!"</td>
      <td>"<span class="vocab-word">Hola</span>, me llamo Cassidy. Soy tu <span class="vocab-word">profesora</span>. Bienvenidos!"</td>
    </tr>
    <tr>
      <td>You:</td>
      <td>"Nice to meet you Cassidy. "</td>
      <td>"Mucho gusto Cassidy."</td>
    </tr>
    <tr>
      <td>Cassidy:</td>
      <td>"You too. Do you know the english alphabet?"</td>
      <td>"igualmente. Sabes el alfabeto ingles?"</td>
    </tr>
    <tr>
      <td>You:</td>
      <td>"Yes, I know the english alphabet."</td>
      <td>"Si, Yo se el alfabeto ingles."</td>
    </tr>
    <tr>
      <td>Cassidy:</td>
      <td>"Great! In this chapter we are going to introduce the spanish alphhabet. lets get started!"</td>
      <td>"¡Excelente! En este capitulo, vamos a introducir el alfabeto español. ¡empecemos!"</td>
    </tr>
    <tr>
      <td>You:</td>
      <td>"Ok"</td>
      <td>"Ok"</td>
    </tr>
  </table>
</div>
<footer id="footer"></footer>
</div>

</div>
